/* Use @import if you're in a CSS file or <style> tag */
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(https://www.goindigo.in/content/dam/s6web/in/en/assets/splash-screen-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

marquee {
    height: 20px;
    background-color: bisque;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0; 
    margin: 0;  
    margin: 0 250px;
}

li {
    list-style: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin-bottom:10px;
}
.box{
    height: 300px;
    width: 90vw;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}
.book{
    font-size: larger;
    background-color: rgb(47, 47, 183);
    color: white;
    padding-bottom: 0px;
    height: 40px;
    width: 752px;
    padding-left: 630px;
    padding-top: 5px;
    border-radius: 8px 8px 0 0;
}
.booking{
    height: 115px;
    width: 89%;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    /* justify-content: space-around; */
}
.box1{
    height: 115px;
    width: 172px;
    border: 1px solid black;

}
.depart{
    background-color: 2px solid black;
}
.return{
    background-color: 1px solid black;
}
.passenger{
    background-color: 1px solid black;
}
.from{
    width: 350px;
    height: 115px;
}
.to{
    width: 350px;
    height: 115px;
}
/* .date{
    width: 130px;
}
.rate{
    width: 80px;
} */
.booking1{
    display: flex;
    border: 1px solid black;
}
.booking2{
    display: flex;
}
span{
    margin: 10px 0px 0 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #212729;
    display: flex;
    flex-direction: column;
}
.abc{
    height: 40px;
    width: 286px;
    margin: 10px 8px 0px 21px;
    border-radius: 30px;
    padding: 7px 0px 7px 22px;
    border: none;
    background-color: #70d1fb6d;
}
.search{
    padding: 11px 30px;
    margin: auto;
    margin-top: -15px;
    border: none;
    background-color: #ffd93b;
    border-radius: 20px;
    font-weight: 600;
}
/* .search:hover{
    background-color: #fab301;
    cursor: pointer;
} */
.abc1{
    width: 120px;
    margin-left: 18px;
}
.abc2{
    width: 140px;
    margin-left: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 54px;
}
.option{
    margin: 10px 0px 0px 80px;
}
.capsule{
    height: 76px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    margin: 20px 0px 0 77px;
    display: flex;
}
.pp{
    display: flex;
    flex-direction: column;
}
.hover:hover{
    box-shadow: 1px 1px 17px 5px #888888;
    /* transform: scale(1.05);*/
}
.video{
    display: flex;
    
}
.video1{
    height: 630px;
    width: 500px;
    margin-top: 50px;
    margin-right: 169px;
}
.video1 {
    width: 500px;        /* or any width you want */
    aspect-ratio: 4/3;  /* or 4/3, depending on your video */
    object-fit: cover;   /* ensures video fills container */
    border-radius: 10px;
}
.new{
    margin-top: 50px;
            margin-left: 88px;
            font-size: 47px;
            width: 796px;
            margin-right: 121px;
}
.button8{
    border-radius: 10px;
    border: 1px solid #080810;
    margin-top: 175px;
    font-size: small;
    display: flex;
    /* flex-direction: column; */
    width: 531px;
    height: 161px;
    background-color: white;
}
.button8 :first-child{
    display: flex;
    flex-direction: column;
    font-size: 27px;
    margin: 10px;
}
.button8 div  img {
    width: 127px;
    margin-top: 5px;
    border-radius: 10px;
}
.button8 div button{
    padding: 2px;
    background-color: blue;
    border-radius: 35px;
    width: 158px;
    font-size: smaller;
    color: white;
}
footer{
    text-align: center;
    height: 31px;
    background-color: bisque;
    margin-top: 51px;
}
